# Data Science Tools and Ecosystem
In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Format text and headings in Markdown
- List popular languages for Data Science
- Create tables and lists in Markdown

## Author
Daniel Fartes e Silva

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. Pandas
3. Matplotlib
4. Seaborn
5. Scikit-Learn
6. TensorFlow

| Data Science Tools     |
|:-----------------------|
| Jupyter Notebook       |
| Pandas                |
| Scikit-Learn          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [5]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335